
    body {
        background-color: rgb(240, 245, 255); /* Fondo azul claro para toda la página */
        font-family: 'Times New Roman', Times, serif; /* Fuente con serifa para todo el texto */
        color: rgb(30, 30, 30); /* el color del texto  */
    }

    .contenedor {
        width: 800px; /* El contenido no ocupa toda la pantalla, solo 800px de ancho */
        margin: auto; /* Centra el contenedor horizontalmente en la página */
        padding: 20px; /* Espacio interno para que el contenido no quede pegado a los bordes */
    }

    h1 {
        text-align: center; /* El título principal va centrado */
        font-size: 50px; /* Tamaño grande para que resalte */
        color: rgb(104, 16, 16); /* Color rojo oscuro para el texto del título */
        background-color: rgb(220, 235, 255); /* Fondo azul clarito detrás del título */
        padding: 10px; /* Espacio interno para que el fondo no quede justo pegado al texto */
        border-bottom: solid 3px rgb(104, 16, 16); /* Línea roja oscura debajo del título */
    }

    h2 {
        color: rgb(102, 10, 10); /* Subtítulos en rojo oscuro */
        font-size: 22px; /* Tamaño mediano para los subtítulos */
        margin-bottom: 8px; /* Espacio debajo del subtítulo para separarlo del contenido */
    }

    h3 {
        color: rgb(102, 10, 10); /* Mismo color rojo oscuro que el h2 pero más pequeño */
        font-size: 18px; /* Tamaño un poco menor que el h2 */
        margin-bottom: 6px; /* Pequeño espacio debajo del h3 */
    }

    .seccion {
        border: solid 2px rgb(104, 16, 16); /* Borde rojo oscuro alrededor de cada sección */
        border-radius: 8px; /* Bordes redondeados para que no se vea tan cuadrado */
        padding: 15px; /* Espacio interno para que el texto no quede pegado al borde */
        margin-top: 20px; /* Espacio encima de cada sección para separarlas entre sí */
        background-color: rgb(255, 255, 255); /* Fondo blanco dentro de cada sección */
    }

    table {
        width: 100%; /* La tabla ocupa todo el ancho del contenedor */
        margin: 1px; /* Pequeño margen alrededor de la tabla */
    }

    th {
        background-color: rgb(104, 16, 16); /* Fondo rojo oscuro en los encabezados de la tabla */
        color: white; /* Texto blanco para que contraste con el fondo rojo */
        text-align: center; /* El texto de los encabezados va centrado */
    }

    td {
        border: 1px solid rgb(180, 180, 180); /* Borde gris clarito entre las celdas */
        text-align: center; /* El contenido de cada celda va centrado */
    }

    img {
        margin: auto; /* Centra la imagen dentro de su contenedor */
        border-radius: 8px; /* Bordes redondeados en las imágenes */
        border: 3px solid rgb(104, 16, 16); /* Borde rojo oscuro alrededor de las imágenes */
    }